name: PR

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/*.yml'
      - 'site/**'

jobs:
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ./site/package-lock.json
      - name: Install and build
        working-directory: ./site
        run: |
          npm ci
          npm run build
